openapi: 3.0.3
info:
  title: FlashVid Platform API
  description: |
    FlashVid Platform 短视频社交平台 RESTful API 文档

    ## 功能模块
    - 认证模块：用户注册、登录、Token刷新
    - 用户模块：用户信息管理、作品列表、喜欢列表、收藏列表
    - 关注模块：关注、取消关注、关注列表、粉丝列表
    - 视频模块：视频详情、发布视频、删除视频、搜索视频
    - 视频流模块：推荐流、关注流、附近流
    - 互动模块：点赞、收藏、分享
    - 评论模块：评论列表、发表评论、删除评论、点赞评论
    - 话题模块：话题列表、话题详情、话题视频列表、搜索话题
    - 上传模块：获取上传凭证、上传文件
    - 音乐模块：音乐列表、搜索音乐
    - 私信模块：会话列表、对话消息、发送私信、标记已读、删除消息、未读总数
    - 播放列表模块：获取列表、创建、更新、删除、获取列表内视频、添加/移除视频

    ## 认证方式
    使用 JWT Token 认证，在请求头中添加：
    ```
    Authorization: Bearer <access_token>
    ```

    ## 错误码
    - 0: 成功
    - 10000-19999: 用户相关错误
    - 20000-29999: 视频相关错误
    - 30000-39999: 评论相关错误
    - 40000-49999: 系统错误
    - 50000-59999: 第三方服务错误
  version: 1.0.0
  contact:
    name: FlashVid Platform API Support
    email: support@flashvid.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.flashvid.com/api/v1
    description: 生产环境
  - url: https://api-staging.flashvid.com/api/v1
    description: 测试环境
  - url: http://localhost:8080/api/v1
    description: 本地开发环境

tags:
  - name: 认证
    description: 用户认证相关接口
  - name: 用户
    description: 用户信息管理
  - name: 关注
    description: 用户关注关系管理
  - name: 视频
    description: 视频相关操作
  - name: 视频流
    description: 视频推荐流
  - name: 互动
    description: 点赞、收藏、分享等互动操作
  - name: 评论
    description: 评论相关操作
  - name: 话题
    description: 话题相关操作
  - name: 上传
    description: 文件上传
  - name: 音乐
    description: 音乐相关操作
  - name: 私信
    description: 用户私信相关操作
  - name: 播放列表
    description: 播放列表管理

paths:
  # ==================== 认证模块 ====================
  /auth/register:
    post:
      tags:
        - 认证
      summary: 用户注册
      description: 用户通过手机号和验证码注册账号
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
                - phone
                - code
              properties:
                username:
                  type: string
                  minLength: 4
                  maxLength: 32
                  description: 用户名，4-32字符
                  example: testuser
                password:
                  type: string
                  minLength: 6
                  maxLength: 20
                  description: 密码，6-20字符
                  example: password123
                phone:
                  type: string
                  pattern: '^1[3-9]\d{9}$'
                  description: 手机号（11位）
                  example: '13800138000'
                code:
                  type: string
                  minLength: 6
                  maxLength: 6
                  description: 短信验证码（6位）
                  example: '123456'
                birthday:
                  type: string
                  format: date
                  description: 生日（可选，格式：YYYY-MM-DD）
                  example: '2000-01-01'
                email:
                  type: string
                  format: email
                  description: 邮箱（可选）
                  example: test@example.com
      responses:
        '200':
          description: 注册成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          userId:
                            type: integer
                            format: int64
                            example: 123456
                          username:
                            type: string
                            example: testuser
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/login:
    post:
      tags:
        - 认证
      summary: 用户登录
      description: 用户通过用户名或手机号登录
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - account
                - password
              properties:
                account:
                  type: string
                  description: 账号（用户名或手机号）
                  example: testuser
                password:
                  type: string
                  description: 密码
                  example: password123
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          userId:
                            type: integer
                            format: int64
                            example: 123456
                          username:
                            type: string
                            example: testuser
                          nickname:
                            type: string
                            example: 测试用户
                          avatar:
                            type: string
                            format: uri
                            example: https://cdn.flashvid.com/avatar/123456.jpg
                          accessToken:
                            type: string
                            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                          refreshToken:
                            type: string
                            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags:
        - 认证
      summary: 刷新Token
      description: 使用refreshToken刷新accessToken
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
                  description: 刷新令牌
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      responses:
        '200':
          description: 刷新成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          accessToken:
                            type: string
                            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                          refreshToken:
                            type: string
                            example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        '401':
          $ref: '#/components/responses/Unauthorized'


  # ==================== 用户模块 ====================
  /user/{id}:
    get:
      tags:
        - 用户
      summary: 获取用户信息
      description: 获取指定用户的详细信息（公开）
      operationId: getUserById
      parameters:
        - name: id
          in: path
          required: true
          description: 用户ID
          schema:
            type: integer
            format: int64
            example: 123456
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserProfile'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

  /user/{id}/videos:
    get:
      tags:
        - 用户
      summary: 获取用户作品列表
      description: 获取指定用户发布的视频列表（公开）
      operationId: getUserVideos
      parameters:
        - name: id
          in: path
          required: true
          description: 用户ID
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          videos:
                            type: array
                            items:
                              $ref: '#/components/schemas/Video'
                          pagination:
                            $ref: '#/components/schemas/Pagination'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

  /user/profile:
    put:
      tags:
        - 用户
      summary: 更新用户信息
      description: 更新当前登录用户的个人信息
      operationId: updateUserProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  maxLength: 32
                  example: 新昵称
                avatar:
                  type: string
                  format: uri
                  example: https://cdn.flashvid.com/avatar/new.jpg
                bio:
                  type: string
                  maxLength: 200
                  example: 这是我的个人简介
                gender:
                  type: integer
                  enum: [0, 1, 2]
                  description: 性别 0-未知 1-男 2-女
                  example: 1
                birthday:
                  type: string
                  format: date
                  example: '2000-01-01'
                city:
                  type: string
                  example: 深圳
                email:
                  type: string
                  format: email
                  example: test@example.com
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - BearerAuth: []

  /user/profile/likes:
    get:
      tags:
        - 用户
      summary: 获取我的点赞列表
      description: 获取当前登录用户的点赞视频列表（私有）
      operationId: getMyLikes
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          videos:
                            type: array
                            items:
                              $ref: '#/components/schemas/Video'
                          pagination:
                            $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - BearerAuth: []

  /user/profile/favorites:
    get:
      tags:
        - 用户
      summary: 获取我的收藏列表
      description: 获取当前登录用户的收藏视频列表（私有）
      operationId: getMyFavorites
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          videos:
                            type: array
                            items:
                              $ref: '#/components/schemas/Video'
                          pagination:
                            $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - BearerAuth: []


  # ==================== 关注模块 ====================
  /users/{id}/follow:
    post:
      tags:
        - 关注
      summary: 关注用户
      description: 关注指定用户
      operationId: followUser
      parameters:
        - name: id
          in: path
          required: true
          description: 用户ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 关注成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          is_following:
                            type: boolean
                            example: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 已经关注该用户
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      security:
        - BearerAuth: []

    delete:
      tags:
        - 关注
      summary: 取消关注
      description: 取消关注指定用户
      operationId: unfollowUser
      parameters:
        - name: id
          in: path
          required: true
          description: 用户ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 取消关注成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          is_following:
                            type: boolean
                            example: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

  /users/{id}/following:
    get:
      tags:
        - 关注
      summary: 获取关注列表
      description: 获取用户关注的用户列表
      operationId: getUserFollowing
      parameters:
        - name: id
          in: path
          required: true
          description: 用户ID
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/UserProfile'
                          pagination:
                            $ref: '#/components/schemas/Pagination'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

  /users/{id}/followers:
    get:
      tags:
        - 关注
      summary: 获取粉丝列表
      description: 获取用户的粉丝列表
      operationId: getUserFollowers
      parameters:
        - name: id
          in: path
          required: true
          description: 用户ID
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/UserProfile'
                          pagination:
                            $ref: '#/components/schemas/Pagination'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []


  # ==================== 视频流模块 ====================
  /feed/recommend:
    get:
      tags:
        - 视频流
      summary: 获取推荐视频流
      description: 获取推荐的视频列表（按发布时间降序，无需登录）
      operationId: getRecommendFeed
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          videos:
                            type: array
                            items:
                              $ref: '#/components/schemas/Video'
                          nextCursorToken:
                            type: string
                            description: 下一页游标，空字符串表示没有更多
                            example: "2026-07-24 12:00:00"
                          hasMore:
                            type: boolean
                            description: 是否还有更多数据
                            example: true

  /feed/following:
    get:
      tags:
        - 视频流
      summary: 获取关注视频流
      description: 获取关注用户发布的视频列表（需要登录）
      operationId: getFollowingFeed
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          videos:
                            type: array
                            items:
                              $ref: '#/components/schemas/Video'
                          nextCursorToken:
                            type: string
                            description: 下一页游标，空字符串表示没有更多
                            example: "2026-07-24 12:00:00"
                          hasMore:
                            type: boolean
                            description: 是否还有更多数据
                            example: true
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - BearerAuth: []

  /feed/nearby:
    get:
      tags:
        - 视频流
      summary: 获取附近视频流
      description: 获取附近用户发布的视频列表（基于经纬度，无需登录）
      operationId: getNearbyFeed
      parameters:
        - name: latitude
          in: query
          required: true
          description: 纬度（-90到90）
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
            example: 22.5431
        - name: longitude
          in: query
          required: true
          description: 经度（-180到180）
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
            example: 114.0579
        - name: distance
          in: query
          description: 距离（公里），默认10，最大100
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
            example: 10
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          videos:
                            type: array
                            items:
                              $ref: '#/components/schemas/Video'
                          nextCursorToken:
                            type: string
                            description: 下一页游标，空字符串表示没有更多
                            example: "2026-07-24 12:00:00"
                          hasMore:
                            type: boolean
                            description: 是否还有更多数据
                            example: true
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - BearerAuth: []


  # ==================== 视频模块 ====================
  /videos:
    post:
      tags:
        - 视频
      summary: 发布视频
      description: 发布新视频
      operationId: publishVideo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - coverUrl
                - videoUrl
                - duration
              properties:
                title:
                  type: string
                  maxLength: 100
                  description: 视频标题
                  example: 我的第一个短视频
                description:
                  type: string
                  maxLength: 500
                  description: 视频描述（可选）
                  example: 这是一个测试视频
                coverUrl:
                  type: string
                  format: uri
                  description: 封面URL（已上传）
                  example: https://cdn.flashvid.com/cover/123.jpg
                videoUrl:
                  type: string
                  format: uri
                  description: 视频URL（已上传）
                  example: https://cdn.flashvid.com/video/123.mp4
                duration:
                  type: integer
                  minimum: 1
                  description: 视频时长（秒）
                  example: 30
                width:
                  type: integer
                  minimum: 1
                  description: 视频宽度（可选）
                  example: 1080
                height:
                  type: integer
                  minimum: 1
                  description: 视频高度（可选）
                  example: 1920
                musicId:
                  type: integer
                  format: int64
                  description: 背景音乐ID（可选）
                  example: 456
                city:
                  type: string
                  description: 城市（可选）
                  example: 深圳
                location:
                  type: string
                  description: 具体位置（可选）
                  example: 南山区
                latitude:
                  type: number
                  format: double
                  minimum: -90
                  maximum: 90
                  description: 纬度（可选）
                  example: 22.5431
                longitude:
                  type: number
                  format: double
                  minimum: -180
                  maximum: 180
                  description: 经度（可选）
                  example: 114.0579
                topicNames:
                  type: array
                  maxItems: 5
                  items:
                    type: string
                    minLength: 1
                    maxLength: 20
                  description: 话题名称列表（可选，最多5个，每个1-20字符；不存在的话题自动创建）
                  example: ['旅行', '美食', '新话题']
      responses:
        '200':
          description: 发布成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          video_id:
                            type: integer
                            format: int64
                            example: 12345
                          status:
                            type: integer
                            description: 2-已发布
                            example: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - BearerAuth: []

  /videos/{id}:
    get:
      tags:
        - 视频
      summary: 获取视频详情
      description: 获取指定视频的详细信息（无需登录）
      operationId: getVideoById
      parameters:
        - name: id
          in: path
          required: true
          description: 视频ID
          schema:
            type: integer
            format: int64
            example: 12345
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          video:
                            $ref: '#/components/schemas/Video'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - 视频
      summary: 删除视频
      description: 删除自己发布的视频
      operationId: deleteVideo
      parameters:
        - name: id
          in: path
          required: true
          description: 视频ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

  /videos/search:
    get:
      tags:
        - 视频
      summary: 搜索视频
      description: 根据关键词搜索视频（无需登录）
      operationId: searchVideos
      parameters:
        - name: keyword
          in: query
          required: true
          description: 搜索关键词
          schema:
            type: string
            minLength: 1
            example: 旅行
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: 搜索成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          videos:
                            type: array
                            items:
                              $ref: '#/components/schemas/Video'
                          pagination:
                            $ref: '#/components/schemas/Pagination'


  # ==================== 互动模块 ====================
  /videos/{id}/like:
    post:
      tags:
        - 互动
      summary: 点赞视频
      description: 点赞指定视频
      operationId: likeVideo
      parameters:
        - name: id
          in: path
          required: true
          description: 视频ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 点赞成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          is_liked:
                            type: boolean
                            example: true
                          like_count:
                            type: integer
                            format: int64
                            example: 1001
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

    delete:
      tags:
        - 互动
      summary: 取消点赞
      description: 取消点赞指定视频
      operationId: unlikeVideo
      parameters:
        - name: id
          in: path
          required: true
          description: 视频ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 取消点赞成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          is_liked:
                            type: boolean
                            example: false
                          like_count:
                            type: integer
                            format: int64
                            example: 1000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

  /videos/{id}/favorite:
    post:
      tags:
        - 互动
      summary: 收藏视频
      description: 收藏指定视频
      operationId: favoriteVideo
      parameters:
        - name: id
          in: path
          required: true
          description: 视频ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 收藏成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          is_favorited:
                            type: boolean
                            example: true
                          favorite_count:
                            type: integer
                            format: int64
                            example: 201
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

    delete:
      tags:
        - 互动
      summary: 取消收藏
      description: 取消收藏指定视频
      operationId: unfavoriteVideo
      parameters:
        - name: id
          in: path
          required: true
          description: 视频ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 取消收藏成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          is_favorited:
                            type: boolean
                            example: false
                          favorite_count:
                            type: integer
                            format: int64
                            example: 200
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

  /videos/{id}/share:
    post:
      tags:
        - 互动
      summary: 分享视频
      description: 分享视频到指定平台
      operationId: shareVideo
      parameters:
        - name: id
          in: path
          required: true
          description: 视频ID
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - platform
              properties:
                platform:
                  type: string
                  enum: [wechat, qq, weibo, link]
                  description: 分享平台
                  example: wechat
      responses:
        '200':
          description: 分享成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          share_url:
                            type: string
                            format: uri
                            example: https://flashvid.com/video/12345
                          share_count:
                            type: integer
                            format: int32
                            example: 51
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []


  # ==================== 评论模块 ====================
  /videos/{id}/comments:
    get:
      tags:
        - 评论
      summary: 获取视频评论列表
      description: 获取指定视频的评论列表（游标分页，按创建时间倒序）
      operationId: getVideoComments
      parameters:
        - name: id
          in: path
          required: true
          description: 视频ID
          schema:
            type: integer
            format: int64
        - name: cursor
          in: query
          description: 游标（上一页最后一条评论的创建时间，格式 2006-01-02 15:04:05），首次请求不传
          schema:
            type: string
            example: '2024-01-01 12:00:00'
        - name: count
          in: query
          description: 每页数量，默认10，最大50
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
            example: 10
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          comments:
                            type: array
                            items:
                              $ref: '#/components/schemas/Comment'
                          nextCursorToken:
                            type: string
                            description: 下一页游标，hasMore为false时为空
                            example: '2024-01-01 11:00:00'
                          hasMore:
                            type: boolean
                            description: 是否还有更多
                            example: true
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags:
        - 评论
      summary: 发表评论
      description: 对指定视频发表一级评论或回复。parentId=0 时为一级评论，response 返回 comment；parentId>0 时为回复，response 返回 reply。
      operationId: createComment
      parameters:
        - name: id
          in: path
          required: true
          description: 视频ID
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                  minLength: 1
                  maxLength: 500
                  description: 评论内容
                  example: 这个视频太棒了！
                parentId:
                  type: integer
                  format: int64
                  description: 父评论ID，不传或传0表示一级评论
                  example: 0
                replyToUserId:
                  type: integer
                  format: int64
                  description: 被回复的用户ID（parentId>0时传入）
                  example: 123
      responses:
        '200':
          description: 评论成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          comment:
                            description: 一级评论（parentId=0时返回）
                            allOf:
                              - $ref: '#/components/schemas/Comment'
                            nullable: true
                          reply:
                            description: 回复（parentId>0时返回）
                            allOf:
                              - $ref: '#/components/schemas/Reply'
                            nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - BearerAuth: []

  /comments/{id}/replies:
    get:
      tags:
        - 评论
      summary: 获取评论回复列表
      description: 获取指定评论的所有回复（无需登录，登录后返回 isLiked 状态），按发布时间升序
      operationId: getCommentReplies
      parameters:
        - name: id
          in: path
          required: true
          description: 评论ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          replies:
                            type: array
                            items:
                              $ref: '#/components/schemas/Reply'
        '404':
          $ref: '#/components/responses/NotFound'

  /comments/{id}:
    delete:
      tags:
        - 评论
      summary: 删除评论
      description: 删除自己发表的评论（软删除，同时更新父评论回复数或视频评论数）
      operationId: deleteComment
      parameters:
        - name: id
          in: path
          required: true
          description: 评论ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

  /comments/{id}/like:
    post:
      tags:
        - 评论
      summary: 点赞评论
      description: 点赞指定评论
      operationId: likeComment
      parameters:
        - name: id
          in: path
          required: true
          description: 评论ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 点赞成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          is_liked:
                            type: boolean
                            example: true
                          like_count:
                            type: integer
                            format: int64
                            example: 11
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

    delete:
      tags:
        - 评论
      summary: 取消点赞评论
      description: 取消点赞指定评论
      operationId: unlikeComment
      parameters:
        - name: id
          in: path
          required: true
          description: 评论ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 取消点赞成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          is_liked:
                            type: boolean
                            example: false
                          like_count:
                            type: integer
                            format: int64
                            example: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []


  # ==================== 话题模块 ====================
  /topics:
    get:
      tags:
        - 话题
      summary: 获取话题列表
      description: 获取热门/最新话题列表（游标分页）。sort=hot 时游标为 view_count，sort=latest 时游标为 created_at
      operationId: getTopics
      parameters:
        - name: sort
          in: query
          description: 排序方式，默认 hot
          schema:
            type: string
            enum: [hot, latest]
            default: hot
            example: hot
        - name: cursor
          in: query
          description: 游标（上一页最后一条的排序值），首次不传
          schema:
            type: string
            example: ''
        - name: count
          in: query
          description: 每页数量，默认20，最大50；小于10时服务端默认为10
          schema:
            type: integer
            maximum: 50
            default: 20
            example: 20
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          topics:
                            type: array
                            items:
                              $ref: '#/components/schemas/Topic'
                          nextCursorToken:
                            type: string
                            description: 下一页游标，hasMore 为 false 时为空
                            example: '1000000'
                          hasMore:
                            type: boolean
                            description: 是否还有更多
                            example: true

  /topics/{id}:
    get:
      tags:
        - 话题
      summary: 获取话题详情
      description: 获取指定话题的详细信息（公开）
      operationId: getTopicById
      parameters:
        - name: id
          in: path
          required: true
          description: 话题ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Topic'
        '404':
          $ref: '#/components/responses/NotFound'

  /topics/{id}/videos:
    get:
      tags:
        - 话题
      summary: 获取话题视频列表
      description: 获取指定话题下的视频列表（游标分页，公开）
      operationId: getTopicVideos
      parameters:
        - name: id
          in: path
          required: true
          description: 话题ID
          schema:
            type: integer
            format: int64
        - name: sort
          in: query
          description: 排序方式，默认 latest
          schema:
            type: string
            enum: [latest, popular]
            default: latest
            example: latest
        - name: cursor
          in: query
          description: 游标（latest 时为 published_at，popular 时为 like_count），首次不传
          schema:
            type: string
            example: ''
        - name: count
          in: query
          description: 每页数量，默认20，最大50；小于10时服务端默认为10
          schema:
            type: integer
            maximum: 50
            default: 20
            example: 20
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          videos:
                            type: array
                            items:
                              $ref: '#/components/schemas/Video'
                          nextCursorToken:
                            type: string
                            description: 下一页游标，hasMore 为 false 时为空
                            example: '2024-01-01 12:00:00'
                          hasMore:
                            type: boolean
                            description: 是否还有更多
                            example: true
        '404':
          $ref: '#/components/responses/NotFound'

  /topics/search:
    get:
      tags:
        - 话题
      summary: 搜索话题
      description: 根据关键词搜索话题（游标分页，公开）
      operationId: searchTopics
      parameters:
        - name: keyword
          in: query
          required: true
          description: 搜索关键词
          schema:
            type: string
            example: 旅行
        - name: cursor
          in: query
          description: 游标（上一页最后一条的 video_count），首次不传
          schema:
            type: string
            example: ''
        - name: count
          in: query
          description: 每页数量，默认20，最大50；小于10时服务端默认为10
          schema:
            type: integer
            maximum: 50
            default: 20
            example: 20
      responses:
        '200':
          description: 搜索成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          topics:
                            type: array
                            items:
                              $ref: '#/components/schemas/Topic'
                          nextCursorToken:
                            type: string
                            description: 下一页游标，hasMore 为 false 时为空
                            example: '500'
                          hasMore:
                            type: boolean
                            description: 是否还有更多
                            example: true


  # ==================== 上传模块 ====================
  /upload:
    post:
      tags:
        - 上传
      summary: 上传文件
      description: 上传图片、视频或音频文件
      operationId: uploadFile
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - file_type
              properties:
                file:
                  type: string
                  format: binary
                  description: 文件数据
                file_type:
                  type: string
                  enum: [image, video, audio]
                  description: 文件类型
                  example: video
      responses:
        '200':
          description: 上传成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          file_url:
                            type: string
                            format: uri
                            description: 文件URL
                            example: http://localhost:8089/static/video/1785396664197888300.mp4
                          file_size:
                            type: integer
                            format: int64
                            description: 文件大小（字节）
                            example: 5242880
                          file_type:
                            type: string
                            description: 文件类型
                            example: video
                          duration:
                            type: integer
                            description: 视频/音频时长（秒），本地存储暂不解析，固定返回 0
                            example: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: 文件过大
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - BearerAuth: []


  # ==================== 音乐模块 ====================
  /music:
    get:
      tags:
        - 音乐
      summary: 获取音乐列表
      description: 获取音乐列表（sort=hot 按使用次数，sort=latest 按创建时间）。公开接口，无需登录
      operationId: getMusicList
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: sort
          in: query
          description: 排序方式
          schema:
            type: string
            enum: [hot, latest]
            default: hot
            example: hot
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/Music'
                          total:
                            type: integer
                            format: int64
                            description: 总条数
                            example: 128
                          page:
                            type: integer
                            description: 当前页码
                            example: 1
                          pageSize:
                            type: integer
                            description: 每页数量
                            example: 20

  /music/search:
    get:
      tags:
        - 音乐
      summary: 搜索音乐
      description: 根据关键词搜索音乐（匹配音乐名称或艺术家）。公开接口，无需登录
      operationId: searchMusic
      parameters:
        - name: keyword
          in: query
          required: true
          description: 搜索关键词（匹配音乐名称或艺术家）
          schema:
            type: string
            example: 告白气球
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: 搜索成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/Music'
                          total:
                            type: integer
                            format: int64
                            description: 总条数
                            example: 12
                          page:
                            type: integer
                            description: 当前页码
                            example: 1
                          pageSize:
                            type: integer
                            description: 每页数量
                            example: 20

  /conversations:
    get:
      tags:
        - 私信
      summary: 获取会话列表
      description: 获取当前用户的会话列表（offset 分页，按最后消息时间倒序）。需要登录
      operationId: getConversations
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          list:
                            type: array
                            items:
                              $ref: '#/components/schemas/Conversation'
                          total:
                            type: integer
                            format: int64
                            description: 会话总数
                            example: 12
                          page:
                            type: integer
                            description: 当前页码
                            example: 1
                          pageSize:
                            type: integer
                            description: 每页数量
                            example: 20
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - BearerAuth: []

  /conversations/{userId}/messages:
    get:
      tags:
        - 私信
      summary: 获取对话消息
      description: 获取与指定用户的私信消息列表（游标分页，按创建时间倒序，最新在前）。需要登录
      operationId: getConversationMessages
      parameters:
        - name: userId
          in: path
          required: true
          description: 对方用户ID
          schema:
            type: integer
            format: int64
            example: 456
        - name: cursor
          in: query
          description: 游标（上一页最后一条消息的创建时间，格式 2006-01-02 15:04:05），首次不传
          schema:
            type: string
            example: '2024-01-01 12:00:00'
        - name: count
          in: query
          description: 每页数量，默认20，最大50
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
            example: 20
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          messages:
                            type: array
                            items:
                              $ref: '#/components/schemas/Message'
                          nextCursorToken:
                            type: string
                            description: 下一页游标，hasMore为false时为空
                            example: '2024-01-01 11:00:00'
                          hasMore:
                            type: boolean
                            description: 是否还有更多
                            example: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

  /conversations/{userId}/read:
    put:
      tags:
        - 私信
      summary: 标记会话已读
      description: 将与指定用户的会话中所有未读消息标记为已读。需要登录
      operationId: markConversationRead
      parameters:
        - name: userId
          in: path
          required: true
          description: 对方用户ID
          schema:
            type: integer
            format: int64
            example: 456
      responses:
        '200':
          description: 标记成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          readCount:
                            type: integer
                            description: 本次标记为已读的消息数
                            example: 3
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - BearerAuth: []

  /messages:
    post:
      tags:
        - 私信
      summary: 发送私信
      description: 向指定用户发送私信。messageType=1 文本时 content 必填；messageType=2/3 图片/视频时 mediaUrl 必填（先经上传接口获取）。需要登录
      operationId: sendMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - toUserId
                - messageType
              properties:
                toUserId:
                  type: integer
                  format: int64
                  description: 接收方用户ID
                  example: 456
                messageType:
                  type: integer
                  description: 消息类型：1-文本 2-图片 3-视频
                  enum: [1, 2, 3]
                  example: 1
                content:
                  type: string
                  description: 文本内容，messageType=1 时必填
                  example: 在吗？
                mediaUrl:
                  type: string
                  format: uri
                  description: 媒体地址，messageType=2/3 时必填
                  example: ''
      responses:
        '200':
          description: 发送成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Message'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

  /messages/{id}:
    delete:
      tags:
        - 私信
      summary: 删除消息
      description: 删除自己发送或接收的某条消息（仅对自己隐藏）。需要登录
      operationId: deleteMessage
      parameters:
        - name: id
          in: path
          required: true
          description: 消息ID
          schema:
            type: integer
            format: int64
            example: 1001
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

  /messages/unread-count:
    get:
      tags:
        - 私信
      summary: 获取未读总数
      description: 获取当前用户所有会话的未读私信总数，用于入口红点。需要登录
      operationId: getUnreadCount
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          unreadCount:
                            type: integer
                            description: 未读私信总数
                            example: 8
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - BearerAuth: []


  # ==================== 播放列表模块 ====================
  /playlists:
    get:
      tags:
        - 播放列表
      summary: 获取我的播放列表
      description: 获取当前登录用户的所有播放列表（按创建时间倒序）
      operationId: getMyPlaylists
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          playlists:
                            type: array
                            items:
                              $ref: '#/components/schemas/PlaylistInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - BearerAuth: []

    post:
      tags:
        - 播放列表
      summary: 创建播放列表
      description: 创建一个新的自定义播放列表
      operationId: createPlaylist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  maxLength: 50
                  description: 播放列表标题
                  example: 我最喜欢的视频
                description:
                  type: string
                  maxLength: 500
                  description: 描述（可选）
                  example: 收藏的精彩视频
                coverUrl:
                  type: string
                  format: uri
                  description: 封面URL（可选）
                  example: https://cdn.flashvid.com/cover/playlist.jpg
      responses:
        '200':
          description: 创建成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          playlist:
                            $ref: '#/components/schemas/PlaylistInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
      security:
        - BearerAuth: []

  /playlists/{id}:
    put:
      tags:
        - 播放列表
      summary: 更新播放列表
      description: 更新播放列表的标题、描述或封面
      operationId: updatePlaylist
      parameters:
        - name: id
          in: path
          required: true
          description: 播放列表ID
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  maxLength: 50
                  example: 新标题
                description:
                  type: string
                  maxLength: 500
                  example: 新描述
                coverUrl:
                  type: string
                  format: uri
                  example: https://cdn.flashvid.com/cover/new.jpg
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

    delete:
      tags:
        - 播放列表
      summary: 删除播放列表
      description: 删除指定播放列表及其所有视频关联
      operationId: deletePlaylist
      parameters:
        - name: id
          in: path
          required: true
          description: 播放列表ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 删除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

  /playlists/{id}/videos:
    get:
      tags:
        - 播放列表
      summary: 获取播放列表内的视频
      description: 游标分页获取指定播放列表内的视频列表（按加入时间倒序）
      operationId: getPlaylistVideos
      parameters:
        - name: id
          in: path
          required: true
          description: 播放列表ID
          schema:
            type: integer
            format: int64
        - name: cursor
          in: query
          required: false
          description: 游标（上一页最后一条记录的 created_at，格式 "yyyy-MM-dd HH:mm:ss"，首次请求不传）
          schema:
            type: string
            example: "2026-08-01 12:00:00"
        - name: count
          in: query
          required: false
          description: 每页数量，默认 20，最大 50
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          playlist:
                            $ref: '#/components/schemas/PlaylistInfo'
                          videos:
                            type: array
                            items:
                              $ref: '#/components/schemas/Video'
                          nextCursor:
                            type: string
                            nullable: true
                            description: 下一页游标，为 null 表示没有更多数据
                            example: "2026-07-20T08:30:00Z"
                          hasMore:
                            type: boolean
                            description: 是否还有更多数据
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []

    post:
      tags:
        - 播放列表
      summary: 添加视频到播放列表
      description: 将指定视频添加到播放列表（幂等，重复添加返回已在列表错误）
      operationId: addVideoToPlaylist
      parameters:
        - name: id
          in: path
          required: true
          description: 播放列表ID
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - videoId
              properties:
                videoId:
                  type: integer
                  format: int64
                  description: 视频ID
                  example: 12345
      responses:
        '200':
          description: 添加成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 视频已在播放列表中
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      security:
        - BearerAuth: []

  /playlists/{id}/videos/{videoId}:
    delete:
      tags:
        - 播放列表
      summary: 从播放列表移除视频
      description: 将指定视频从播放列表中移除
      operationId: removeVideoFromPlaylist
      parameters:
        - name: id
          in: path
          required: true
          description: 播放列表ID
          schema:
            type: integer
            format: int64
        - name: videoId
          in: path
          required: true
          description: 视频ID
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 移除成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - BearerAuth: []


components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Token 认证，格式：Bearer <token>

  parameters:
    Page:
      name: page
      in: query
      description: 页码，从1开始
      schema:
        type: integer
        minimum: 1
        default: 1
        example: 1

    PageSize:
      name: pageSize
      in: query
      description: 每页数量
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
        example: 20

    Cursor:
      name: cursor
      in: query
      description: 游标，用于分页
      schema:
        type: string
        example: next_cursor_token

    Count:
      name: count
      in: query
      description: 返回数量
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
        example: 10

    Sort:
      name: sort
      in: query
      description: 排序方式
      schema:
        type: string
        enum: [latest, popular]
        default: latest
        example: latest

  schemas:
    Response:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          description: 响应码，0表示成功
          example: 0
        message:
          type: string
          description: 响应消息
          example: success
        data:
          type: object
          nullable: true
          description: 响应数据

    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: 当前页码
          example: 1
        pageSize:
          type: integer
          description: 每页数量
          example: 20
        total:
          type: integer
          format: int64
          description: 总记录数
          example: 100
        totalPages:
          type: integer
          description: 总页数
          example: 5

    UserProfile:
      type: object
      properties:
        userId:
          type: integer
          format: int64
          description: 用户ID
          example: 123456
        username:
          type: string
          description: 用户名
          example: testuser
        nickname:
          type: string
          description: 昵称
          example: 测试用户
        avatar:
          type: string
          format: uri
          description: 头像URL
          example: https://cdn.flashvid.com/avatar/123456.jpg
        bio:
          type: string
          description: 个人简介
          example: 这是我的个人简介
        gender:
          type: string
          description: 性别 0-未知 1-男 2-女
          example: '1'
        birthday:
          type: string
          format: date
          description: 生日
          example: '2000-01-01'
        city:
          type: string
          description: 城市
          example: 深圳
        phone:
          type: string
          description: 手机号
          example: '13800138000'
        email:
          type: string
          format: email
          description: 邮箱
          example: test@example.com
        followersCount:
          type: integer
          description: 粉丝数
          example: 1000
        followingCount:
          type: integer
          description: 关注数
          example: 500
        videosCount:
          type: integer
          description: 发布视频数
          example: 50
        likesCount:
          type: integer
          description: 获赞数
          example: 10000
        createdAt:
          type: string
          format: date-time
          description: 注册时间
          example: '2024-01-01T12:00:00Z'


    Video:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: 视频ID
          example: 12345
        title:
          type: string
          description: 视频标题
          example: 我的第一个短视频
        description:
          type: string
          description: 视频描述
          example: 这是一个测试视频
        coverUrl:
          type: string
          format: uri
          description: 封面URL
          example: https://cdn.flashvid.com/cover/12345.jpg
        videoUrl:
          type: string
          format: uri
          description: 视频URL
          example: https://cdn.flashvid.com/video/12345.mp4
        duration:
          type: integer
          description: 视频时长（秒）
          example: 30
        width:
          type: integer
          description: 视频宽度
          example: 1080
        height:
          type: integer
          description: 视频高度
          example: 1920
        musicId:
          type: integer
          format: int64
          description: 背景音乐ID
          example: 456
        city:
          type: string
          description: 城市
          example: 深圳
        topics:
          type: array
          items:
            type: string
          description: 话题标签
          example: ['旅行', '美食']
        author:
          type: object
          description: 作者信息
          properties:
            id:
              type: integer
              format: int64
              example: 123
            username:
              type: string
              example: author
            nickname:
              type: string
              example: 作者
            avatar:
              type: string
              format: uri
              example: https://cdn.flashvid.com/avatar/123.jpg
        stats:
          type: object
          description: 统计信息
          properties:
            viewCount:
              type: integer
              description: 播放数
              example: 10000
            likeCount:
              type: integer
              description: 点赞数
              example: 1000
            commentCount:
              type: integer
              description: 评论数
              example: 100
            shareCount:
              type: integer
              description: 分享数
              example: 50
            favoriteCount:
              type: integer
              description: 收藏数
              example: 200
        publishedAt:
          type: string
          description: 发布时间（格式：2006-01-02 15:04:05）
          example: '2024-01-01 12:00:00'

    VideoDetail:
      allOf:
        - $ref: '#/components/schemas/Video'
        - type: object
          properties:
            music_id:
              type: integer
              format: int64
              description: 音乐ID
              example: 456
            location:
              type: string
              description: 具体位置
              example: 南山区
            topics:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    example: 1
                  name:
                    type: string
                    example: 旅行
            published_at:
              type: string
              format: date-time
              description: 发布时间
              example: '2024-01-01T12:00:00Z'


    Comment:
      type: object
      description: 一级评论（TikTok风格，回复通过 GET /comments/{id}/replies 单独加载）
      properties:
        id:
          type: integer
          format: int64
          description: 评论ID
          example: 789
        content:
          type: string
          description: 评论内容
          example: 这个视频太棒了！
        user:
          $ref: '#/components/schemas/CommentUser'
        likeCount:
          type: integer
          format: int32
          description: 点赞数
          example: 10
        replyCount:
          type: integer
          format: int32
          description: 回复数（折叠，点击展开时调用 /replies 接口）
          example: 2
        isLiked:
          type: boolean
          description: 当前用户是否已点赞（未登录时为 false）
          example: false
        isAuthored:
          type: boolean
          description: 是否为视频作者发表
          example: false
        replies:
          type: array
          description: 回复列表占位（始终为空数组，通过 GET /comments/{id}/replies 获取）
          items:
            $ref: '#/components/schemas/Reply'
          example: []
        createdAt:
          type: string
          description: 评论时间（格式：2006-01-02 15:04:05）
          example: '2024-01-01 12:00:00'

    Reply:
      type: object
      description: 评论回复
      properties:
        id:
          type: integer
          format: int64
          description: 回复ID
          example: 790
        content:
          type: string
          description: 回复内容
          example: 同意！
        user:
          $ref: '#/components/schemas/CommentUser'
        replyTo:
          type: object
          description: 被回复的用户（防御性，replyToUserId=0 时为空对象）
          nullable: true
          properties:
            id:
              type: integer
              format: int64
              example: 123
            nickname:
              type: string
              example: 评论者
        likeCount:
          type: integer
          format: int32
          description: 点赞数
          example: 5
        isLiked:
          type: boolean
          description: 当前用户是否已点赞（未登录时为 false）
          example: false
        createdAt:
          type: string
          description: 回复时间（格式：2006-01-02 15:04:05）
          example: '2024-01-01 12:05:00'

    CommentUser:
      type: object
      description: 评论/回复用户信息
      properties:
        id:
          type: integer
          format: int64
          example: 123
        username:
          type: string
          example: commenter
        nickname:
          type: string
          example: 评论者
        avatar:
          type: string
          format: uri
          example: https://cdn.flashvid.com/avatar/123.jpg

    Topic:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: 话题ID
          example: 1
        name:
          type: string
          description: 话题名称
          example: 旅行
        description:
          type: string
          description: 话题描述
          example: 分享你的旅行故事
        coverUrl:
          type: string
          format: uri
          description: 话题封面
          example: https://cdn.flashvid.com/topic/1.jpg
        viewCount:
          type: integer
          format: int64
          description: 浏览量
          example: 1000000
        videoCount:
          type: integer
          format: int32
          description: 视频数量
          example: 5000
        createdAt:
          type: string
          description: 创建时间
          example: '2024-01-01 12:00:00'

    Music:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: 音乐ID
          example: 456
        name:
          type: string
          description: 音乐名称
          example: 告白气球
        artist:
          type: string
          description: 艺术家
          example: 周杰伦
        album:
          type: string
          description: 专辑
          example: 依然范特西
        coverUrl:
          type: string
          format: uri
          description: 封面URL
          example: http://localhost:8089/static/image/cover.jpg
        musicUrl:
          type: string
          format: uri
          description: 音乐URL
          example: http://localhost:8089/static/audio/song.mp3
        duration:
          type: integer
          description: 音乐时长（秒）
          example: 200
        useCount:
          type: integer
          format: int32
          description: 被视频使用次数
          example: 10000
        createdAt:
          type: string
          description: 创建时间
          example: '2024-01-01 12:00:00'

    Conversation:
      type: object
      description: 会话（与某个用户的私信汇总）
      properties:
        targetUser:
          type: object
          description: 对方用户信息
          properties:
            id:
              type: integer
              format: int64
              description: 用户ID
              example: 456
            username:
              type: string
              description: 用户名
              example: zhangsan
            nickname:
              type: string
              description: 昵称
              example: 张三
            avatar:
              type: string
              format: uri
              description: 头像URL
              example: http://localhost:8089/static/image/avatar.jpg
        lastMessage:
          type: object
          description: 最后一条消息摘要
          properties:
            id:
              type: integer
              format: int64
              description: 消息ID
              example: 1001
            messageType:
              type: integer
              description: 消息类型：1-文本 2-图片 3-视频
              enum: [1, 2, 3]
              example: 1
            content:
              type: string
              description: 文本内容（非文本消息为空）
              example: 在吗？
            mediaUrl:
              type: string
              description: 媒体地址（文本消息为空）
              example: ''
            createdAt:
              type: string
              description: 发送时间
              example: '2024-01-01 12:00:00'
        unreadCount:
          type: integer
          description: 该会话未读消息数
          example: 3
        updatedAt:
          type: string
          description: 会话更新时间（最后消息时间）
          example: '2024-01-01 12:00:00'

    PlaylistInfo:
      type: object
      description: 播放列表信息
      properties:
        id:
          type: integer
          format: int64
          description: 播放列表ID
          example: 1
        title:
          type: string
          description: 标题
          example: 我最喜欢的视频
        description:
          type: string
          description: 描述
          example: 收藏的精彩视频
        coverUrl:
          type: string
          format: uri
          description: 封面URL
          example: https://cdn.flashvid.com/cover/playlist.jpg
        videoCount:
          type: integer
          format: int32
          description: 视频数量
          example: 12
        createdAt:
          type: string
          description: 创建时间（格式：2006-01-02 15:04:05）
          example: '2024-01-01 12:00:00'

    Message:
      type: object
      description: 私信消息
      properties:
        id:
          type: integer
          format: int64
          description: 消息ID
          example: 1001
        fromUserId:
          type: integer
          format: int64
          description: 发送方用户ID
          example: 123
        toUserId:
          type: integer
          format: int64
          description: 接收方用户ID
          example: 456
        messageType:
          type: integer
          description: 消息类型：1-文本 2-图片 3-视频
          enum: [1, 2, 3]
          example: 1
        content:
          type: string
          description: 文本内容（非文本消息为空）
          example: 在吗？
        mediaUrl:
          type: string
          description: 媒体地址（文本消息为空）
          example: ''
        isRead:
          type: boolean
          description: 是否已读
          example: false
        createdAt:
          type: string
          description: 发送时间
          example: '2024-01-01 12:00:00'


  responses:
    BadRequest:
      description: 请求参数错误
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Response'
              - type: object
                properties:
                  code:
                    example: 40000
                  message:
                    example: 请求参数错误
                  data:
                    example: null

    Unauthorized:
      description: 未登录或Token失效
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Response'
              - type: object
                properties:
                  code:
                    example: 40001
                  message:
                    example: 未登录或Token失效
                  data:
                    example: null

    Forbidden:
      description: 无权限访问
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Response'
              - type: object
                properties:
                  code:
                    example: 40003
                  message:
                    example: 无权限访问
                  data:
                    example: null

    NotFound:
      description: 资源不存在
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Response'
              - type: object
                properties:
                  code:
                    example: 40004
                  message:
                    example: 资源不存在
                  data:
                    example: null

    ValidationError:
      description: 请求参数验证失败
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Response'
              - type: object
                properties:
                  code:
                    example: 42200
                  message:
                    example: 请求参数验证失败
                  data:
                    type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            field:
                              type: string
                              example: username
                            message:
                              type: string
                              example: 用户名不能为空

    TooManyRequests:
      description: 请求过于频繁
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Response'
              - type: object
                properties:
                  code:
                    example: 42900
                  message:
                    example: 请求过于频繁，请稍后再试
                  data:
                    type: object
                    properties:
                      retry_after:
                        type: integer
                        description: 重试间隔（秒）
                        example: 60

    InternalServerError:
      description: 服务器内部错误
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Response'
              - type: object
                properties:
                  code:
                    example: 50000
                  message:
                    example: 服务器内部错误
                  data:
                    example: null

